{% extends 'base.html' %}

{% block content %}

<h1>{% block title %}Request an upload URL{% endblock %}</h1>

{% if status == 'OK' %}
<div class="pure-alert-success pure-alert">
    You should shortly receive an email at <samp>{{email}}</samp> containing a button (or a text link) to upload your
    files. If you don't get any email in few minutes, please try again or contact the service administrator if the
    problem persists. </div>
{% else %}
{% if status == 'MISSING_UID' %}
<div class="pure-alert-error pure-alert">
    The <em>used id</em> is missing, please enter it and try again.
</div>
{% elif status == 'UNREGISTERED_UID' %}
<div class="pure-alert-warning pure-alert">
    The <em>user id</em> you entered is not registered; please check and enter it again, or contact the service
    administrator if the problem persists.
</div>
{% elif status == 'SEND_ERROR' %}
<div class="pure-alert-error pure-alert">
    The server encountered an error sending an email to <samp>{{email}}</samp>; please try again in a few minutes, or
    contact the service administrator if the problem persists.
</div>
{% else %}
<p>Please insert your <em>user id</em> to request the upload URL.</p>
{% endif %}
<form class="pure-form" method="POST">
    <fieldset>
        <input type="text" name="uid" class="pure-input-1-1" placeholder="user id" required>
        <button type="submit" class="pure-button-secondary pure-button">Send me the token!</button>
    </fieldset>
</form>
{% endif %}

{% endblock %}