.l-box {
    padding: 2em;
}

.filepond--root {
    max-width: 66%;
}

.filepond--panel-root {
    background-color: rgb(161, 195, 238);
}

.filepond--drop-label {
    color: white;
}

.pure-alert  {
    border-radius: .8em;
}

a {
    font-variant: small-caps;
}

a:hover {
    opacity: 50%;
    transition: opacity 1s;
}